<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBRH-SretiEXI1Z9QH1DWWUDekE1-o8PA</string>
	<key>GCM_SENDER_ID</key>
	<string>935332776626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mechaApp</string>
	<key>PROJECT_ID</key>
	<string>mechaapp-5a0bf</string>
	<key>STORAGE_BUCKET</key>
	<string>mechaapp-5a0bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935332776626:ios:0eea4547101f055ce317ab</string>
</dict>
</plist>